.left {
  float: left;
}
.right {
  float: right;
}
.clear {
  clear: both;
}
/*html blocks*/
body {
  background-color: black;
}
/*accordian css pulled from w3 schools. May be modified from original.
/* Style the buttons that are used to open and close the accordion panel */
button.accordion, button.overAccord, button.trgAccord {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.2s;
}
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
button.accordian.active, button.accordion:hover {
    background-color: #ddd;
}
button.overAccord.active, button.overAccord:hover {
    background-color: #ddd;
}
button.targAccord.active, button.targAccord:hover {
    background-color: #ddd;
}
/* Style the accordion panel. Note: hidden by default */
div.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
}
/* The "show" class is added to the accordion panel when the user clicks on one of the buttons. This will show the panel content */
div.panel.show {
    display: inline-block !important;
}
/*classes*/
.textback {
  background-color: white;
}
.gradR {
  font-size: 0px;
  width: 30px;
  height: 62px;
  background: gray;
  background: -webkit-linear-gradient(right,black,white);
  background: -moz-linear-gradient(right,black,white);
  background: -o-linear-gradient(right,black,white);
  background: linear-gradient(right,black,white);
  display: inline-block;
}
<<<<<<< HEAD
.gradL {
  font-size: 0px;
  width: 30px;
  height: 62px;
  background: gray;
  background: -webkit-linear-gradient(left,black,white);
  background: -moz-linear-gradient(left,black,white);
  background: -o-linear-gradient(left,black,white);
  background: linear-gradient(left,black,white);
  display: inline-block;
}
.screen {
  background-color: gray;
=======
.statBtn {
  display: block;
  width: 120px;
>>>>>>> test
}

/*ids*/
#nav {
  height: 50px;
  width: 75%;
  margin: 0 auto;
}
#content {
  width: 75%;
  margin: 0 auto;
}
#info {
  text-align: center;
}
#wrapper {
}
#footer {
  width: 75%;
  margin: 0 auto;
}
#charWin {
  margin: 0 auto;
}
#charStat {
  width: 100%;
}

#cseWrap {
  display: inline-block;
  width: 69%;
  vertical-align: top;
}
#btnWrap {
  display: inline-block;
  width: 200px;
}
#csExplain {
  display: none;

}
#header {
  vertical-align: top;
  width: 75%;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0px;
  font-size: 0px;
}
#banner {
  padding: 0px 30px 0px 30px;
  vertical-align: top;
  display: inline-block;
  height: 62px;
  max-height: 62px;
  max-width: 500px;
  margin: 0 0 0 0;
  font-size: 14px;
