/*html blocks*/
body {
  background-color: black;
}
/*classes*/
.textback {
  background-color: white;
}
.gradL {
  font-size: 0px;
  width: 30px;
  height: 100%;
  background: gray;
  background: -webkit-linear-gradient(left,black,white);
  background: -moz-linear-gradient(left,black,white);
  background: -o-linear-gradient(left,black,white);
  background: linear-gradient(left,black,white);
  display: inline-block;
}
.gradR {
  font-size: 0px;
  width: 30px;
  height: 100%;
  background: gray;
  background: -webkit-linear-gradient(right,black,white);
  background: -moz-linear-gradient(right,black,white);
  background: -o-linear-gradient(right,black,white);
  background: linear-gradient(right,black,white);
  display: inline-block;
}
.statBtn {
  width: 120px;
  height: 120px;
  border-radius: 100%;
}
.csBox {
  border: 1px solid black;
  border-radius: 5px;
  padding: 0px;
  margin: 5px;
}
.panel {
  background-color: orange;
}
.roof {
  margin: 5px;
}
.csPrimeAtr {
  display: inline-block;
}

/*ids*/
#nav {
  height: 50px;
  width: 75%;
  margin: 0 auto 25px;
}
#content {
  width: 75%;
  margin: 0 auto;
}
#info {
  text-align: center;
}
#wrapper {
}
#footer {
  width: 75%;
  margin: 0 auto;
}
#charWin {
  width: 100%;
}
#charStat {
  width: 100%;
}
#cseWrap {
  vertical-align: top;
}
#btnWrap {
  display: block;
  margin: 0 auto;
  text-align: center;
}
#csExplain {
  display: none;
}
#header {
  vertical-align: top;
  height: 62px;
  width: 75%;
  margin: 0 auto;
  padding: 0px;
  font-size: 0px;
}
#banner {
  padding: 0px 30px 0px 30px;
  vertical-align: top;
  display: inline-block;
  height: 100%;
  margin: 0 0 0 0;
  font-size: 14px;
}
#charSheet{
  padding: 5px;
}
#csCharInfo{
  display: inline-block;
}